*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* Inherit from body*/
}

html {
  font-size: 62.5%; /* 62.5% means 1rem = 10px instead of the default 1rem = 16px */
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/******************* Header styles start here *********************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  background-color: #263238;
}

.navbar,
.top-nav {
  height: 100%;
}

.top-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.top-nav__item {
  padding: 1.5rem;
  transition: all 0.6s;
}

.top-nav__item:hover {
  background-color: #192125;
}

.top-nav__link {
  color: #eceff1;
  text-decoration: none;
  font-size: 1.4rem; /* 1.4rem = 14px as 1rem = 10px */
  font-weight: bold;
}

.top-nav__span-text {
  margin-right: 1rem;
}

.top-nav__icon {
  font-size: 2rem;
  vertical-align: middle;
}

/* SideNav Styles in header start here */
.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #eceff1;
  width: 46rem;
  padding: 5rem 0;
  color: #263238;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  z-index: 999; /* Side bar always on top of everything when visible*/
}

/* Wrapper is for centering all content inside side-navbar */
.side-navbar__wrapper {
  margin: 0 auto;
  width: 90%;
}

.side-navbar__heading-2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.side-navbar__close-icon {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

#side-navbar__search-input {
  width: 100%;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #607d8b;
  background-color: #eceff1;
}

#side-navbar__select {
  width: 100%;
  font-size: 1.4rem;
  border: 2px solid #607d8b;
}

#side-navbar__select:focus {
  outline: none;
}

.side-navbar__select-option {
  padding: 0.6rem 1rem;
}

.search-user-btn {
  text-decoration: none;
  font-size: 1.4rem;
  background-color: #607d8b;
  color: #fff;
  display: block;
  margin-top: 3rem;
  text-align: center;
  padding: 0.6rem 0;
  border-radius: 0.5rem;
}

.not-found-result {
  font-size: 1.3rem;
  margin-top: 3rem;
  border-top: 1px solid #b6b8b9;
  border-bottom: 1px solid #b6b8b9;
  text-align: center;
  padding: 1rem 0;
}

/* This styles override .user-container styles by modifying it's defaults styles */
.side-navbar__results .user-container {
  width: 100%;
  margin-top: 3rem;
  border-top: 1px solid #b6b8b9;
  border-bottom: 1px solid #b6b8b9;
}

.side-navbar__results .user-container__more-info {
  background-color: #607d8b;
  color: #fff;
  padding: 0.6rem 1rem;
}

.side-navbar__results .user-container__more-info:hover {
  background-color: #364f5c;
}
/* styles that override .user-container styles end here*/

/* Class to slide an element from left */
.slide-from-left {
  transform: translateX(0%);
}

/* Remove outline from input and change its border-bottom color to darker on focus */
#side-navbar__search-input:focus {
  outline: none;
  border-bottom: 2px solid #263238;
}

/* Class for darkening the UI when sidenav is visible*/
.side-navbar__big-shadow--onVisible {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
  width: 100vw;
  height: 100vh;
  display: none;
}

/******************* <main /> styles start here *********************/
.main {
  margin-top: 5rem; /* 5rem accounts for the fixed header which has a height of 5rem*/
  padding: 3rem 0 3rem 10rem;
  color: #263238;
}

.main__heading-1 {
  margin-bottom: 3rem;
}

.main .prev-next-container {
  width: 40rem;
  margin-top: 2rem;
  text-align: center;
}

.prev-next-container__prev-btn,
.prev-next-container__next-btn {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  background-color: #45555e;
  font-size: 1.4rem;
  padding: 0.9rem;
  border-radius: 0.3rem;
  margin: 0 1rem;
  transition: all 0.4s;
}

.prev-next-container__prev-btn:hover,
.prev-next-container__next-btn:hover {
  background-color: #263238;
}

.user-container {
  font-size: 1.4rem;
  width: 40rem;
  border-top: 1.5px solid #eceff1;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.user-container__more-info {
  text-decoration: none;
  background-color: #eceff1;
  color: #263238;
  padding: 0.8rem;
  border-radius: 0.3rem;
  transition: all 0.4s;
}

.user-container__more-info:hover {
  background-color: #c9d5dd;
}

.avatar-and-name-container {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 0 1rem;
}

.user-container .avatar-and-name-container__avatar {
  width: 5rem;
  border-radius: 50%; /* Round small avatar images look cool*/
  margin-right: 1rem;
}

.page-numbers,
.no-followers,
.no-repos {
  font-weight: bold;
  font-size: 1.4rem;
}

/******************* Media Queries start here *********************/
@media screen and (max-width: 595px) {
  .main {
    padding: 3rem 0;
  }
  .main__heading-1 {
    width: 90%;
    margin: 0 auto 3rem auto;
  }

  .main .user-container {
    margin: 0 4rem;
  }

  .main .prev-next-container {
    margin: 2rem 4rem;
  }
}

@media screen and (max-width: 541px) {
  .side-navbar {
    width: 80vw;
  }
}

@media screen and (max-width: 469px) {
  .top-nav {
    padding: 0 2rem;
  }
  .top-nav__span-text {
    display: none;
  }

  .main__heading-1,
  .main .user-container,
  .main .prev-next-container {
    width: 94%;
    margin: 0 auto;
  }

  .main__heading-1 {
    margin-bottom: 3rem;
  }

  .main .prev-next-container {
    width: 94%;
    margin: 3rem auto 1rem auto;
  }

  .side-navbar__results .user-container {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 378px) {
  .side-navbar__results .user-container {
    display: block;
    padding-bottom: 1rem;
  }

  .side-navbar__results .user-container__more-info {
    display: block;
    margin-top: 1rem;
    width: 7.25rem;
  }
}

@media screen and (max-width: 272px) {
  html {
    font-size: 45%; /* 62.5% means 1rem = 10px instead of the default 1rem = 16px */
  }
}
