*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* Inherit from body*/
}

html {
  font-size: 62.5%; /* 62.5% means 1rem = 10px instead of the default 1rem = 16px */
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/******************* Header styles start here *********************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  background-color: #263238;
}

.navbar,
.top-nav {
  height: 100%;
}

.top-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.top-nav__item {
  padding: 1.5rem;
  transition: all 0.6s;
}

.top-nav__item:hover {
  background-color: #192125;
}

.top-nav__link {
  color: #eceff1;
  text-decoration: none;
  font-size: 1.4rem; /* 1.4rem = 14px as 1rem = 10px */
}

.top-nav__span-text {
  margin-right: 1rem;
}

.top-nav__icon {
  font-size: 2rem;
  vertical-align: middle;
}

/* SideNav Styles in header start here */
.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #eceff1;
  width: 46rem;
  padding: 5rem 0;
  color: #263238;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  z-index: 999; /* Side bar always on top of everything when visible*/
}

.side-navbar__wrapper {
  margin: 0 auto;
  width: 90%;
}

.side-navbar__heading-2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.side-navbar__close-icon {
  position: absolute;
  top: 1.4rem;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
}

#side-navbar__search-input {
  width: 100%;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #607d8b;
  background-color: #eceff1;
}

/* Class to slide a element from left */
.slide-from-left {
  transform: translateX(0%);
}

#side-navbar__search-input:focus {
  outline: none;
  border-bottom: 2px solid #263238;
}

.side-navbar__big-shadow_onVisible {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
  width: 100vw;
  height: 100vh;
  display: none;
}

/******************* <main /> styles start here *********************/
.main {
  margin-top: 5rem; /* 5rem accounts for the fixed header which has a height of 5rem*/
  padding: 3rem 0 3rem 10rem;
  color: #263238;
}

.main__heading-1 {
  margin-bottom: 3rem;
}

.user-container {
  font-size: 1.3rem;
  width: 40rem;
  border-top: 1.5px solid #eceff1;
  /* border-bottom: 1.5px solid #eceff1; */
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar-and-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 46%;
  padding: 0 1rem;
}
.user-container .avatar-and-name-container__avatar {
  width: 5rem;
  border-radius: 50%;
}

/******************* Media Queries start here *********************/
@media screen and (max-width: 595px) {
  .main {
    padding: 3rem 0;
  }
  .main__heading-1 {
    width: 90%;
    margin: 0 auto 3rem auto;
  }

  .main .user-container {
    width: 90%;
    margin: 0 auto;
  }

  .main .avatar-and-name-container {
    width: 18rem;
  }
}

@media screen and (max-width: 541px) {
  .side-navbar {
    width: 80vw;
  }
}

@media screen and (max-width: 469px) {
  .top-nav {
    padding: 0 2rem;
  }
  .top-nav__span-text {
    display: none;
  }
}

@media screen and (max-width: 367px) {
  .main .avatar-and-name-container {
    width: 60%;
  }

  .main__heading-1,
  .main .user-container {
    width: 94%;
  }

  .user-container .avatar-and-name-container__avatar {
    margin-right: 1rem;
  }
}
